<div class="appInfo">
  <div class="appIconShadow">
    <img class="appIconLarge" src="{{ site.app_icon }}">
  </div>
  <div class="appNameContainer">
    <h1 class="appName">
      {{ site.app_name }}
    </h1>
  </div>
  <div class="appDescriptionContainer">
    <p class="appDescription">
      {{ site.app_description }}
    </p>
  </div>
  <div class="downloadButtonsContainer">
    <a class="githubLink" href="{{ site.github_link }}"><img class="github" src="assets/github.png"></a>
  </div>
</div>