<div class="appInfo">
  <div class="appIconShadow">
    <img class="appIconLarge" src="{{ site.app_icon }}">
  </div>
  <div class="appNameContainer">
    <h1 class="appName">
      {{ site.app_name }}
    </h1>
  </div>
  <div class="appDescriptionContainer">
    <p class="appDescription">
      {{ site.app_description }}
    </p>
  </div>
  <div class="downloadButtonsContainer">
    {%- assign latest_release = site.github.releases | first -%}
    <a class="githubLink" href="{{ latest_release.assets[0].browser_download_url }}">
      <img class="github" src="assets/github.png">
    </a>
    <small class="appVersion">
      {{ latest_release.name }}
    </small>
  </div>
</div>